.root {
    -fx-accent: #256B9C;
    -fx-default-button: #3F7DA8;
    -fx-focus-color: #0F5485;
    -fx-faint-focus-color: #0F548522;
    -fx-cell-hover-color: #679DC3;

    CHART_COLOR_1: #C81919;
    CHART_COLOR_2: #101073;
    CHART_COLOR_3: #0066CC;
    CHART_COLOR_4: #00A2DE;
    CHART_COLOR_5: #84D200;
    CHART_COLOR_6: #CEDF00;
    CHART_COLOR_7: #888888;
    CHART_COLOR_8: #CCCCCC;

    CHART_COLOR_1_TRANS_20: #C8191933;
    CHART_COLOR_2_TRANS_20: #10107333;
    CHART_COLOR_3_TRANS_20: #0066CC33;
    CHART_COLOR_4_TRANS_20: #00A2DE33;
    CHART_COLOR_5_TRANS_20: #84D20033;
    CHART_COLOR_6_TRANS_20: #CEDF0033;
    CHART_COLOR_7_TRANS_20: #88888833;
    CHART_COLOR_8_TRANS_20: #CCCCCC33;

    CHART_COLOR_1_TRANS_70: #C81919b3;
    CHART_COLOR_2_TRANS_70: #101073b3;
    CHART_COLOR_3_TRANS_70: #0066CCb3;
    CHART_COLOR_4_TRANS_70: #00A2DEb3;
    CHART_COLOR_5_TRANS_70: #84D200b3;
    CHART_COLOR_6_TRANS_70: #CEDF00b3;
    CHART_COLOR_7_TRANS_70: #888888b3;
    CHART_COLOR_8_TRANS_70: #CCCCCCb3;


    /* Custom Brabocoin definitions */
    -brabo-pane-toolbar-background: -fx-base;
    -brabo-invalid: red;
}

* {
    -fx-ellipsis-string: "…";
}

.custom-text-field .left-pane .glyph-font {
    -fx-text-fill: derive(-fx-text-inner-color, 110%);
}

.hash {
    -fx-font-family: monospace;
}

.side-pane-title {
    -fx-text-fill: derive(-fx-mid-text-color, 30%);
    -fx-font-size: 2em;
}

.side-pane-title-graphic {
    -fx-pref-height: 2em;
    -fx-max-height: 2em;
    -fx-max-width: 2em;
}

.text-input.label-like {
    -fx-text-fill: -fx-text-background-color;
    -fx-highlight-text-fill: white;

    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.text-input.label-like:disabled {
    -fx-opacity: 1;
}

.chip {
    -fx-padding: .25em .5em;
    -fx-background-radius: .25em;
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
}

.chip * {
    -fx-text-fill: white;
}

.chip.green {
    -fx-background-color: derive(CHART_COLOR_5, -25%);
}

.chip.red {
    -fx-background-color: derive(-fx-accent, 25%);
}

.label.error {
    -fx-text-fill: -fx-accent;
}

.progress-bar {
    -fx-indeterminate-bar-flip: false;
}

.column-fixed {
    -fx-text-fill: derive(-fx-text-base-color, 95%);
}

.progress-indicator.no-percentage:determinate {
    -fx-padding: 0 0 -16 0;
}

.progress-indicator.no-percentage:determinate .percentage {
    -fx-fill: null;
}

.text-field.invalid {
    -fx-text-fill: red !important;
}

.table-action-box {
    -fx-spacing: 10px;
}

.table-cell.right-separator, .column-header.right-separator {
    -fx-border-color: transparent derive(-fx-table-cell-border-color, -50%) transparent transparent;
}

.text-primary {
    -fx-text-fill: -fx-accent;
}
