.root {
    -fx-accent: #C81919;
    -fx-default-button: #D24D51;
    -fx-focus-color: #C72125;
    -fx-faint-focus-color: #C7212522;

    CHART_COLOR_1: #C81919;
    CHART_COLOR_2: #101073;
    CHART_COLOR_3: #0066CC;
    CHART_COLOR_4: #00A2DE;
    CHART_COLOR_5: #84D200;
    CHART_COLOR_6: #CEDF00;
    CHART_COLOR_7: #888888;
    CHART_COLOR_8: #CCCCCC;

    CHART_COLOR_1_TRANS_20: #C8191933;
    CHART_COLOR_2_TRANS_20: #10107333;
    CHART_COLOR_3_TRANS_20: #0066CC33;
    CHART_COLOR_4_TRANS_20: #00A2DE33;
    CHART_COLOR_5_TRANS_20: #84D20033;
    CHART_COLOR_6_TRANS_20: #CEDF0033;
    CHART_COLOR_7_TRANS_20: #88888833;
    CHART_COLOR_8_TRANS_20: #CCCCCC33;

    CHART_COLOR_1_TRANS_70: #C81919b3;
    CHART_COLOR_2_TRANS_70: #101073b3;
    CHART_COLOR_3_TRANS_70: #0066CCb3;
    CHART_COLOR_4_TRANS_70: #00A2DEb3;
    CHART_COLOR_5_TRANS_70: #84D200b3;
    CHART_COLOR_6_TRANS_70: #CEDF00b3;
    CHART_COLOR_7_TRANS_70: #888888b3;
    CHART_COLOR_8_TRANS_70: #CCCCCCb3;

    -fx-cell-hover-color: #f7d7d8;

    /* Custom Brabocoin definitions */
    -brabo-pane-toolbar-background: -fx-base;
}
