.action-table {
    -fx-pref-height: 200px;
    -fx-padding: 5px 0 5px 0;
    -fx-min-height: 100px;
}

.table-action-box {
    -fx-spacing: 10px;
}

.action-table-padding {
    -fx-padding: 5px 0 5px 0;
}

#input-output-box {
    -fx-border-width: 2px;
    -fx-border-color: #aaaaaa;
    -fx-border-radius: 2px;
    -fx-border-style: solid;
    -fx-padding: 10px;
}